ASP/CPRG214_Lab4_Don_van_Hout/CustomerIncidents/Service References/IncidentsServiceReference/IncidentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:44346/IncidentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IncidentsService" />
  <xs:element name="GetOpenTechIncidents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="techID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOpenTechIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IncidentsService" minOccurs="0" name="GetOpenTechIncidentsResult" nillable="true" type="q1:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIncidentsByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerIncidentsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IncidentsService" minOccurs="0" name="GetCustomerIncidentsByIDResult" nillable="true" type="q2:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerIncidents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomerIncidentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IncidentsService" minOccurs="0" name="GetAllCustomerIncidentsResult" nillable="true" type="q3:ArrayOfIncident" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>