ASP/CPRG214_Lab4_Don_van_Hout/CustomerIncidents/Service References/IncidentsServiceReference/IncidentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="IncidentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:44346/IncidentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:44346/IncidentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:44346/IncidentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IncidentsService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IIncidentService_GetOpenTechIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetOpenTechIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOpenTechIncidentsResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetCustomerIncidentsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidentsByID" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetCustomerIncidentsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCustomerIncidentsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetAllCustomerIncidents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerIncidents" />
  </wsdl:message>
  <wsdl:message name="IIncidentService_GetAllCustomerIncidents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomerIncidentsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIncidentService">
    <wsdl:operation name="GetOpenTechIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetOpenTechIncidents" message="tns:IIncidentService_GetOpenTechIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetOpenTechIncidentsResponse" message="tns:IIncidentService_GetOpenTechIncidents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidentsByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetCustomerIncidentsByID" message="tns:IIncidentService_GetCustomerIncidentsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetCustomerIncidentsByIDResponse" message="tns:IIncidentService_GetCustomerIncidentsByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerIncidents">
      <wsdl:input wsaw:Action="http://tempuri.org/IIncidentService/GetAllCustomerIncidents" message="tns:IIncidentService_GetAllCustomerIncidents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IIncidentService/GetAllCustomerIncidentsResponse" message="tns:IIncidentService_GetAllCustomerIncidents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IIncidentService" type="tns:IIncidentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOpenTechIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetOpenTechIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCustomerIncidentsByID">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetCustomerIncidentsByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomerIncidents">
      <soap:operation soapAction="http://tempuri.org/IIncidentService/GetAllCustomerIncidents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IncidentService">
    <wsdl:port name="BasicHttpBinding_IIncidentService" binding="tns:BasicHttpBinding_IIncidentService">
      <soap:address location="http://localhost:44346/IncidentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>